.notfound-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.notfound {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.notfound > div {
  font-size: 6rem;
  font-weight: 700;
}

.notfound p {
  font-size: 1.4rem;
  font-weight: 500;
}
