.student-form-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.student-card {
  width: 720px;
  margin: 0 !important;
}
.student-form {
  display: flex;
  flex-direction: column;
}
.student-email-and-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.student-email-and-name > div {
  width: 49%;
}
.student-cycle-and-year {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
.student-cycle-and-year > div {
  width: 49%;
}
.student-finan-educform-sex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.student-finan-educform-sex > div {
  width: 32%;
}
.student-card-body {
  padding-top: 1rem !important;
  padding-bottom: 2rem !important;
}
.div-btn-add-student {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.btn-add-student {
  width: 40%;
  min-width: 100px;
}

.student-form-invalid-feedback {
  display: block !important;
}
.student-form-valid-feedback {
  display: none !important;
}
