.student-row {
  width: 100%;
  min-height: 50px;
  border: 1px solid var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  gap: 1rem;
}
.student-row:nth-child(odd) {
  background-color: var(--table-row-odd-color);
}
.student-row td {
  text-align: left;
}
.student-row-item {
  width: 150px;
  flex-grow: 1;
}
.student-row-fullname,
.student-row-study-program {
  width: 180px;
}
.student-row-email {
  width: 280px;
  word-break: break-all;
}
.student-row-study-domain {
  width: 220px;
}
.student-row-study-year {
  width: 50px;
}
.student-row-buttons {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.3rem;
  width: 80px;
}
.student-row-button {
  border: none;
  background-color: transparent;
}
.student-row-edit {
  color: var(--very-light-blue);
}
.student-row-edit:hover {
  color: var(--hover-blue);
}
.student-row-delete {
  color: var(--very-light-red);
}
.student-row-delete:hover {
  color: var(--hover-red);
}
