.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  background-color: var(--dark-blue);
  height: 100px;
  flex-wrap: nowrap;
}
.nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
  text-decoration: none;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  gap: 1rem;
}

.nav-link.active {
  color: var(--active-light-blue);
}
.nav-item-bottom-line {
  transition: all 0.2s ease-in-out;
  width: 0;
  opacity: 0;
  height: 2px;
  background-color: var(--active-light-blue);
}

.nav-link.active .nav-item-bottom-line {
  width: 100%;
  opacity: 1;
}

.nav-link:hover {
  color: var(--hover-light-blue);
}

.nav-item {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.nav-logo {
  width: 90px;
  margin-left: 3rem;
}

.signin-btn {
  font-size: 1.1rem;
  padding: 0.4rem 1rem;
  transition: all 0.2s ease-in-out;
  background-color: var(--light-blue);
  border-radius: 4px;
  border: none;
  color: white;
}

.signin-btn:hover {
  cursor: pointer;
  background-color: white;
  color: var(--light-blue);
}
