.faculty-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}
.faculty-card {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}
.faculty-card-body {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}
.div-btn-edit-faculty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.btn-edit-faculty {
  width: 40%;
  min-width: 200px;
}

.faculty-form-invalid-feedback {
  display: block !important;
}
.faculty-form-valid-feedback {
  display: none !important;
}
