:root {
  --light-blue: #007bff;
  --very-light-blue: #3395ff;
  --dark-blue: rgb(0, 0, 66);
  --hover-blue: rgb(35, 68, 255);
  --active-blue: rgb(35, 68, 255);
  --hover-light-blue: #75bee9;
  --active-light-blue: #75bee9;
  --hover-red: #dc1428;
  --table-row-odd-color: #a6cbfe29;
  --light-red: #dc3545;
  --very-light-red: #fb4f60;
  --light-green: rgb(2, 208, 2);
  --light-grey: #ccc;
  --basic-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  gap: 1rem;
}

.page-container {
  width: 98%;
  /* NOTE: if you want height to be scalabe, delete height, and set min-height: 80vh */
  height: 85vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.75rem;
  box-shadow: var(--basic-box-shadow); /* Basic grey box-shadow */
}
.page-container > :last-child {
  flex-grow: 1;
}
table {
  border: 1px solid var(--light-grey);
}
/* table styles */
table td > p {
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* primereact styles */
.p-dialog,
.p-dialog-content,
.p-dialog-header,
.p-dialog-footer {
  padding: 1rem;
}
.p-dialog {
  border: none;
}
.p-button,
.p-component {
  font-size: 1rem;
}

.p-button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
}
.p-confirm-dialog-message {
  margin-left: 1rem;
}

.p-paginator,
.p-dropdown {
  margin-left: 0.5rem;
}

.p-dropdown-label {
  padding: 0.3rem;
  padding-left: 0.5rem;
  text-align: center;
}
