.manage-students {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

.manage-students-toolbar {
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--light-grey);
  margin-bottom: 2rem;
  border-radius: 6px;
  padding: 0 2rem;
  gap: 2rem;
}
.manage-students-toolbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.manage-students-toolbar-item input {
  width: 220px;
}
.search-students-by-study-cycle select {
  width: 130px;
  appearance: auto !important;
}
.search-students-by-study-year select {
  width: 70px;
}
.manage-students-toolbar-item label {
  word-break: keep-all;
  font-weight: 500;
}
.manage-students-list {
  display: flex;
  width: 100%;
}

.manage-students-table {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.manage-students-table th {
  text-align: left;
}

.student-row-header {
  background-color: white !important;
}
